.home {
    background: url(../img/hero-bg.png) center right / cover;
    padding-top: 47px;
    font-family: $font-raleway;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 253px;
    }

    .nav {
        &__menu {
            display: flex;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            li {
                list-style: none;
                box-sizing: unset;
                padding-top: 8px;
                border-top: 2px solid transparent;
            }

            li:not(:last-child) {
                margin-right: 33px;
            }

            li:hover {
                // outline: none;
                border-color:  $color-orange;
            }

            a {
                text-decoration: none;
                color: $color-black;
            }
        }
    }

    &__main {
        // margin-bottom: 20%;
        &-title {
            font-size: 60px;
            font-weight: 900;
            margin-bottom: 30px;
        }

        &-description {
            margin-bottom: 33px;
        }

        &-btn {
            background-color: $color-orange;
        }
    }
    .footer__img {
    //    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50px;
    }


}